<html xmlns = "http://www.w3.org/1999/xhtml">
    <head>
       <title>Welcome to internsearch </title>

      
 </head>

 <frameset cols = "20%,*">
 <frame name = "leftframe" src = "nav.html" />

 <!-- nested framesets are used to change the -->
 <!-- formatting and layout of the frameset -->
 <frameset rows = "175,*">
 <frame name = "picture" src = "picture.html" />
 <frame name = "main" src = "main.html" />
 </frameset>

 <noframes>
 <p>This page uses frames, but your browser does not
 support them.</p>

 <p>Please, <a href = "nav.html">follow this link to
 browse our site without frames</a>.</p>
 </noframes>
</frameset>
</html>
